@CHARSET "UTF-8";

.sub {
	width: 55%;
	border-collapse: collapse;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.sub th {
	width: 25%;
	padding: 6px;
	text-align: left;
	vertical-align: top;
	color: #666666;
	background: url(bg.jpg) repeat-x top left #eee;
	border-bottom: 1px dotted #999;
	border-left: 1px solid #ccc;
}

.sub td {
	width: 25%;
	padding: 6px;
	border-bottom: 1px dotted #999;
	border-left: 1px solid #ccc;
}

.stu {
	width: 40%;
	border-collapse: collapse;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.stu th {
	width: 25%;
	padding: 6px;
	text-align: left;
	vertical-align: top;
	color: #666666;
	background: url(bg.jpg) repeat-x top left #eee;
	border-bottom: 1px dotted #999;
	border-left: 1px solid #ccc;
}

.stu td {
	width: 25%;
	padding: 6px;
	border-bottom: 1px dotted #999;
	border-left: 1px solid #ccc;
}

a {
	color: #0000ff;
	text-decoration: none;
}

a:hover {
	color: #ff0000;
	text-decoration: underline;
}
}