@CHARSET "UTF-8";

body#user {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
  /* 画像ファイルの指定 */
  background-image: url(../img/taso2.jpg);

  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;

  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;

  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;

  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;

  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;
}

body#manager {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
  /* 画像ファイルの指定 */
  background-image: url(../img/taso.jpg);

  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;

  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;

  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;

  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;

  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;
}

h1 {
	text-align: left;
	background-color: #baddf9;
	font-weight: bold;
}


table.table-design {
    background-color: rgba(255, 255, 255, 0.7);
    overflow: hidden;
    width: 180%;
    height: 80%;
    border-spacing: 0;
}


.parent{
  padding: 10px;
  text-align: center;
  width: 400px;
}
.inner{
   display:inline-block;
   padding:10px;
}
.tablecell{
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 200px;
  height: 250px;
  margin: 20px;
}




